In [35]:
# Dependencies and Setup
import pandas as pd
import datetime as date
import numpy as np

In [37]:
# Import data to pd, and display sample
insurance_csv = 'Data/cgr-premiums-table.csv'
ins_df = pd.read_csv(insurance_csv)
ins_df.head()

  gender  birthdate  ypc  current_premium    age
0      M  10/5/1947    0           863.97  75.17
1      F   7/6/1953    0           828.63  69.42
2      M  4/18/1956    0          1000.59  66.63
3      F  8/16/1956    0           700.42  66.30
4      F  1/23/1957    0           505.92  65.87

In [47]:
# Create bins of age ranges
bins = [25, 29.99, 39.99, 49.99, 59.99, 69.99, 79.99, 89.99, 99.99, 200]
group_names = ["25-29", "30-39", "40-49", "50-59", "60-69", "70-79", "80-89", "90-100", "100+"]

In [48]:
# Add bins to df
ins_df["Age Range"] = pd.cut(ins_df["age"], bins, labels=group_names, include_lowest=True)
ins_df.head(30)

   gender   birthdate  ypc  current_premium    age Age Range
0       M   10/5/1947    0           863.97  75.17     70-79
1       F    7/6/1953    0           828.63  69.42     60-69
2       M   4/18/1956    0          1000.59  66.63     60-69
3       F   8/16/1956    0           700.42  66.30     60-69
4       F   1/23/1957    0           505.92  65.87     60-69
5       F  12/31/1960    0          1674.34  61.93     60-69
6       M   2/26/1963    0          1266.17  59.77     50-59
7       F   7/31/1963    0           733.96  59.35     50-59
8       M   12/5/1964    0          1671.38  58.00     50-59
9       F    7/4/1966    0           655.97  56.42     50-59
10      F  12/30/1968    0           804.14  53.93     50-59
11      F   3/14/1973    0          1819.68  49.73     40-49
12      F   10/9/1975    0           756.60  47.16     40-49
13      F  12/31/1977    0           567.54  44.93     40-49
14      F   8/28/1978    0           688.33  44.27     40-49
15      M   5/14/1979    0          1658.50  43.56     40-49
16      M    8/4/1979    0           918.50  43.34     40-49
17      M   4/30/1980    0           421.66  42.60     40-49
18      F    2/9/1981    0          1358.08  41.82     40-49
19      M    7/2/1981    0           969.79  41.43     40-49
20      F   7/27/1983    0          1481.24  39.36     30-39
21      M   10/3/1984    0          2105.59  38.17     30-39
22      F    4/7/1985    0          2047.48  37.66     30-39
23      F   11/1/1987    0          1216.75  35.09     30-39
24      M   1/15/1988    0          2243.20  34.89     30-39
25      M   7/30/1959    1           774.01  63.35     60-69
26      M  11/10/1959    1           961.67  63.07     60-69
27      M   4/11/1961    1           827.87  61.65     60-69
28      F   6/22/1963    1          2593.80  59.46     50-59
29      M  11/17/1964    1          1063.81  58.05     50-59

In [50]:
# Group by age range and find mean of current_premium
age_group_df = ins_df.groupby(["Age Range"]).mean()

age_group_df

                ypc  current_premium         age
Age Range
25-29      1.972789       977.516054   29.353810
30-39      3.374079       875.024513   36.204732
40-49      3.608645       962.421221   44.881979
50-59      3.967887      1134.201804   55.199210
60-69      4.179806      1156.396674   64.782437
70-79      4.393440      1014.475426   74.419209
80-89      4.578452       878.631642   84.226784
90-100     4.621858       750.839344   93.753754
100+       4.702247       706.409944  102.081124